openapi: "3.0.0"
info:
  title: Mini-games Platform (static + api)
  version: "0.5"
servers:
  - url: /
paths:
  /:
    get:
      x-yc-apigateway-integration:
        type: object_storage
        bucket: "${STATIC_BUCKET}"
        object: "index.html"
        service_account_id: "${SERVICE_ACCOUNT_ID}"
      responses:
        "200":
          description: OK

  /{file+}:
    get:
      parameters:
        - name: file
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: object_storage
        bucket: "${STATIC_BUCKET}"
        object: "{file}"
        service_account_id: "${SERVICE_ACCOUNT_ID}"
      responses:
        "200":
          description: OK

  /api/{proxy+}:
    x-yc-apigateway-any-method:
      parameters:
        - name: proxy
          in: path
          required: true
          schema:
            type: string
      x-yc-apigateway-integration:
        type: cloud_functions
        function_id: "${BACKEND_FUNCTION_ID}"
        service_account_id: "${SERVICE_ACCOUNT_ID}"
        payload_format_version: "1.0"
      responses:
        "200":
          description: OK
